#titulo {
  font-family: Verdana, sans-serif;
  font-size: 26px;
  color: #cccccc;
}
#descripcion {
  text-align: center;
  word-spacing: 20px; /*Espaciado de texto*/
  color: rgb(204, 204, 204);
}
a {
  text-decoration: none; /*Quita el subrayado del hipervínculo*/
  color: hsl(0, 0%, 80%);
}
